* {
    box-sizing: border-box !important;
    /* border: 1px solid black; */
}


/* ------------------- Header - navbar ------------------- */

nav {
    display: flex;
    justify-content: space-between;
}

#logo {
    font-weight: 900;
}

nav div.navbar {
    display: none;
    margin: 0;
}

a {
    font-size: 20px;
}

.header-space {
    height: 72px;
    background-color: lightgray
}

/* ------------------- Main - Banner ------------------- */

#banner {
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: darkslategrey;
}

.banner {
    color:white;
    font-weight: 900;
    font-style: italic;
}


/* ------------------- Main - About ------------------- */

.title {
    text-align: center;
    font-weight: 900;
}

#about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}

#pic {
    text-align: center;
}

#my-pic {
    height: 360px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#skill-section {
    display: grid;
    grid-template-rows: auto auto;
}

#extra {
    display: none;
}


/* ------------------- Responsive - Tablet ------------------- */
@media screen and (min-width: 768px) {
    /* ------------------- nav ------------------- */
    #logo {
        font-size: 3em;
    }

    div.navbar-nav a.nav-link {
        color: black;
        font-size: 1.5em;
    }

    .header-space {
        height: 81px;
    }

    /* ------------------- banner ------------------- */
    #banner {
        height: 25em;
    }

    #my-name {
        font-size: 5em;
    }

    #my-title {
        font-size: 3em;

    }

    /* ------------------- about ------------------- */
    .title {
        font-size: 2.5em;
    }

    #extra {
        display: flex;
    }
}



/* ------------------- Responsive - Desktop ------------------- */
@media screen and (min-width: 1024px) {
    /* ------------------- nav ------------------- */
    #logo {
        font-size: 4em;
    }

    nav {
        display: inline;
    }

    button {
        display: none
    }

    div.collapse {
        display:none;
    }

    nav div.navbar {
        display: flex
    }

    a.nav-element {
        color: rgb(120, 120, 120);
        font-size: 2.0em;
    }

    /* :active - when when you click the the tag element something
    happens as you specify (only fo a brief moment)*/
    a.nav-element:active {
        color: black
    }

    .header-space {
        height: 100px;
    }

    /* ------------------- banner ------------------- */
    #banner {
        height: 35em;
    }

    #my-name {
        font-size: 7em;
    }

    #my-title {
        font-size: 4em;

    }

    /*------------------- about ------------------- */
    .title {
        font-size: 3.5em
    }
}