/* ---------------------------------------------- */
/* ------------------- Mobile ------------------- */
/* ---------------------------------------------- */
* {
    font-family: Raleway;
}

html {
    scroll-behavior: smooth;
}

.title {
    text-align: center;
    font-weight: 900;
    font-size: 2.2em;
    margin: auto;
}

.title:hover {
    animation: heartBeat;
    animation-duration: 1s;
}

h2,
#skill-section,
#about-text,
form,
#my-email{ 
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
}

/* ------------------- Header - navbar ------------------- */
nav.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

#logo {
    height: 50px;
    width: 39px;
    margin: 0;
    opacity: .4;
}

a.nav-link {
    font-size: 1.25em;
    font-weight: 600;
}

#header-space {
    height: 58px;
    background-color: lightgray
}

/* ------------------- Main - Banner ------------------- */
#banner {
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("https://res.cloudinary.com/dvxvez8mj/image/upload/c_scale,q_100,w_1900/v1618456640/background_chmhga.jpg");
    background-position: center;
    opacity: 0.75;
    background-size: 768px;
    transition: all 2s;
}

#banner:hover {
    opacity: 1;
}

.banner {
    color:white;
    /* text-shadow: 
    x-axis(+ = right) y-axis(+ = down) blur color; */
    text-shadow:-1px 1px 0px #000,
                1px 1px 0px #000,
                1px -1px 0px #000,
                -1px -1px 0px #000,
                -8px 4px 3px black;
    font-weight: 900;
    font-style: italic;
    animation-duration: 2s;
}
p.banner {
    font-size: 22px;
}

/* ------------------- Main - About ------------------- */
#about {
    background-color: rgb(58, 66, 100);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}

#about .grid {
    background-color: white;
}

#pic {
    position: relative;
    text-align: center;
    background-color: lightgrey;
    overflow: hidden;
}


#my-pic {
    height: 300px;
    width: 250px;
    opacity: 0.75;
    transition: all 1s;
}

#pic:hover #my-pic {
    transform: scale(1.1);
    opacity: 1;
    /* box-shadow: 
    x-axis(+ = right) y-axis(+ = down) blur padding color; */
    box-shadow: 0 0 10px 5px black;
}

#pic h2 {
    position: absolute;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    font-weight: 800;
    opacity: 0;
    transition: all 1s;
    transform: translate(0, 130px);
}

#pic:hover h2 {
    opacity: 0.6;
    transform: translate(0, -10px)
}

#skill-section {
    background-color: slategray;
    margin: 0px;
    padding-bottom: 1px;
}

#skills {
    text-align: center;
    font-weight: 700;
}

#skills-list {
    display: grid;
    grid-template-columns: auto auto;
}

#about-text {
    background-color: rgb(58, 66, 100);
    color: white;
}

#extra {
    display: none;
}

/* ------------------- Main - Projects ------------------- */
#projects {
    background-color: #444957;
    margin-bottom: 10px;
}

#project-cards {
    background-color: rgb(142, 161, 185);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 300px;
    color:  black;
    text-align: center;
    margin: 30px 15px;
    border-radius: 10px;
    background-color: #D3D3D3;
    border: 1px solid white;
    box-shadow: 0 0 6px 2px white;
    opacity: 0.75;
    transition: all 0.5s;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 0 10px 6px white;
    opacity: 1;
}

.card:hover .image {
    transform: scale(1.05);
}

.project {
    font-weight: 800;
    margin: 15px 0;
}

.image {
    height: 190px;
    width: 95%;
    transition: all 0.5s;
}

.description {
    font-size: 20px;
    margin-top: 10px
}

.links {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 25px;
}

.links .btn:hover {
    font-weight: bold;
}

/* ------------------- Main - Contact ------------------- */
#contact, form{
    background-color: slategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#my-email {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

input, textarea {
    margin : 5px 0;
    border: 3px solid #444957;
    border-radius: 7px;
    width: 300px;
    padding: 5px;
    background-color: #f1f1f1;    
}

.name:focus, .email:focus, textarea:focus {
    background-color: white;   
}

.message {
    height: 150px;
}

.submit {
    width: 80px;
    padding: 2px;
}

.submit:hover {
    background-color: lightgrey;
    font-weight: bold;
    border: 3px solid whitesmoke;
}

/* ------------------- Footer ------------------- */
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

#footer-name {
    align-self: center;
}

.icon {
    color:white
}

.icon:hover {
    color: #DBDBDB;
}

/* ----------------------------------------------------------- */
/* ------------------- Responsive - Tablet ------------------- */
/* ----------------------------------------------------------- */

@media screen and (min-width: 768px) {
    /* ------------------- nav ------------------- */
    #logo {
        height: 57px;
        width: 45px;
    }

    div.navbar-nav a.nav-link {
        font-size: 1.5em;
    }

    #header-space {
        height: 67px;
    }

    /* ------------------- banner ------------------- */
    #banner {
        height: 25em;
        background-size: 1024px;
    }

    .banner {
        /* text-shadow: -16px 8px 4px black; */
        text-shadow:-2px 2px 0px #000,
                    2px 2px 0px #000,
                    2px -2px 0px #000,
                    -2px -2px 0px #000,
                    -16px 8px 4px black;
    }

    #my-name {
        font-size: 5em;
    }

    #my-title {
        font-size: 2.8em;
    }

    /* ------------------- about ------------------- */
    .title {
        font-size: 2.7em;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    #pic {
        grid-row: 1 / 3;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    #my-pic {
        height: 360px;
        width: 300px;
    }

    #pic h2 {
        font-size: 2.5em;
        transform: translate(0, 155px);
    }

    #skill-section {
        margin-bottom: 10px;
    }

    /* ------------------- projects ------------------- */


    /* ------------------- contact ------------------- */
    form {
        display: grid;
        grid-template-columns: 3fr .3fr 3fr;
        grid-template-rows: repeat(3, auto);
    }

    .name {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 350px;
    }

    .email {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 350px;
    }

    .message {
        grid-column: 3 / 4;
        grid-row: 1 / 4;
        width: 350px;
    }

    .submit {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-left: auto;
    }

    /* ------------------- footer ------------------- */
    footer {
        font-size: 18px;
        font-style: italic;
    }
}


/* ------------------------------------------------------------ */
/* ------------------- Responsive - Desktop ------------------- */
/* ------------------------------------------------------------ */

@media screen and (min-width: 1024px) {
    /* ------------------- nav ------------------- */
    #logo {
        height: 80px;
        width: 63px;
        margin-left: 16px;
    }

    nav.navbar {
        padding: 0 10px;
        flex-flow: row nowrap;
    }

    button {
        display: none
    }

    div.collapse {
        display: flex !important;
        justify-content: flex-end;
    }

    div.navbar-nav {
        flex-direction: row;
    }

    a.nav-link{
        font-size: 2.0em !important;
        margin: 0 15px;
    }

    #header-space {
        height: 80px;
    }

    /* ------------------- banner ------------------- */
    #banner {
        height: 35em;
        background-size: 1900px;
    }

    .banner {
        /* text-shadow: -20px 10px 5px black; */
        text-shadow:-2px 2px 0px #000,
                    2px 2px 0px #000,
                    2px -2px 0px #000,
                    -2px -2px 0px #000,
                    -20px 10px 5px black;
    }

    #my-name {
        font-size: 7em;
    }

    #my-title {
        font-size: 3.9em;
    }

    /* ------------------- about ------------------- */
    .title {
        font-size: 3.5em
    }

    .grid {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto auto;
    }

    #my-pic {
        height: 468px;
        width: 390px;
    }

    #pic h2 {
        font-size: 3.5em;
        transform: translate(0, 200px);
    }

    #skills {
        font-size: 2em;
    }

    .skill {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

    #extra {
        display: flex;
    }

    /* ------------------- projects ------------------- */


    /* ------------------- contact ------------------- */
    #contact {
        display: grid;
        grid-template-columns: 3fr .3fr 3fr;
        grid-template-rows: repeat(6, auto);
    }

    #contact-title {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    #my-email {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        order: 1;
        text-align: right;
        margin: 25px 0 0 0;
        padding: 0;
        font-size: 24px;
    }

    form {
        grid-column: 1 / 4;
        grid-row: 2 / 6;
        grid-template-columns: 3fr .2fr 3fr;
        grid-template-rows: repeat(4, auto);
    }

    .name {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 350px;
        margin-left: auto;
    }

    .email {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        width: 350px;
        margin-left: auto;
    }

    .message {
        grid-column: 3 / 4;
        grid-row: 1 / 4;
        width: 450px;
    }

    .submit {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
        margin: 10px auto;
    }

    #thanks {
        grid-column: 1 / 4;
        grid-row: 6 / 7;
    }
    /* ------------------- footer ------------------- */
    footer {
        font-size: 21px;
    }
}